@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

$lightgrey: #F8F9FA;
$black: #231F20;


$open-font:'Open Sans Condensed', sans-serif;
$body-font: 'Roboto Condensed', sans-serif;;

@mixin social-media($pic) {
  background-image: url($pic);
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: 50%;
  text-indent: -9999px;
}

@mixin slow-hover($ms){
  -webkit-transition: all ms ease;
  -moz-transition: all ms ease;
  -ms-transition: all $ms ease;
  -o-transition: all $ms ease;
  transition: all $ms ease;
}

h2{
  font: 24px $open-font;
  font-weight: 400;
  letter-spacing: -.7px;
  //text-transform: uppercase;
}

h3{
  font: 20px $body-font;
  
}

ul{
  padding: 0;
}

p {
  font: 18px $body-font;
  
}

a {
  color:#000;
  text-decoration: none;
}

a:hover{
  color: #FFF;
  @include slow-hover(800ms)
}

a:visited {
  color: #000;
}

img{
  
  width: 100%;
}



li.page_item{
    color: #FFF;
    font: 27px $open-font;
    font-weight: 700;
    text-transform: uppercase;
    background: #000;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    letter-spacing:-.7 px;
    opacity: .5;  
  }
  
  li.page_item:hover{
    background: #F1F1F2;
    color: #000;
  @include slow-hover(800ms)
}

.menu a{
  width:100%;
  padding: 0 20% 0 20%;
  color: #FFF;
  height: 45px;
}

.menu a:hover{
  color: #000;
  opacity: 1;
  @include slow-hover(800ms)

}

.children li {
  text-align: right;
  font-size: 20px;
  opacity: 1;
}

.children a{
  text-size: 12px;
  padding: 0 15% 0 40%;
  text-align: right;
  color: #FFF;
  height: 45px;
}

.children a:hover{
  color: #000;
  opacity: 1;
  @include slow-hover(800ms)

}

  
  li#twitter {
    @include social-media('images/twitter.png');
} 
  
  li#instagram {
   @include social-media('images/instagram.png');
   
}
  
  
  li#facebook {
   @include social-media('images/facebook.png');
}
  
 