html {
  box-sizing: border-box;
  padding-bottom: 0px;

;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  position: relative;
  width: 95%;
  margin: 0 auto;
  background-color: $lightgrey;
  height: 100%
}

content{
  width: 90%;
  padding-top: 30px;
  
}

h1#inhouselogo {
  background-image: url('images/inhouse-logo.svg');
  background-size: 100%;
  width: 100%;
  padding-top: 50.8%;
  height: 0;
  text-indent: -9999px;
}

video {
  position: absolute;
  width:100%;

  opacity: .8;
  z-index: 1;
 
}

nav{
  position: relative;
  width: 100%;
  padding: -60px 0px 10px 0px;
  z-index: 2;
  overflow: visible
}

li.nav-li{
  width: 100%;
  margin-top: 5% ;
  height: 55px;
  line-height: 50px;
  }  
 
  @media screen and (max-width: 570px){
    li.nav-li{
 margin-top:1%;
 height: 45px;
 line-height: 40px;
  }
 }
  



#text{
  padding-top: 15%;
  
}
  
  
ul#socialfooter{
  padding: 0px;
  width: 100%;
  height:100px;
  margin: 70px auto 0px auto;
  list-style-type: none;
}




li.social-icons{
  display: inline-block;
  margin: 0 auto;
  height: 60%;
  width:32%;
  text-align: center;
  padding-bottom: 20%;
  opacity: .1;
}

li.social-icons:hover{
  opacity: 1;
  @include slow-hover(1000ms)
}

h1#bottom-logo{
  margin: 0 auto;
  background-image: url('images/bottomlogo.svg');
  background-size: 100%;
  width: 100%;
  padding-top: 15.8%;
  padding-bottom: 42px;
  height: 0;
  text-indent: -9999px;
  
}