@media (min-width: 800px){
  h1#inhouselogo {
    background-repeat: no-repeat;
    width: 60%;
    padding-top: 55.8%;
    position: absolute;
    z-index:10;
  }
  
  h1#bothgraphic{
    padding-top:46.8%;
  }
  
  h2{
    font: 34px $open-font;
    font-weight: 400;
    letter-spacing: -.7px;
    //text-transform: uppercase;
  }
  
  h1#bothgraphic{
	  margin-to: -49px;
  }
  
  h2#inhouselogo{
    background-image: url("images/inhouse-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    padding-top: 25.8%;
    height: 0;
    text-indent: -9999px;
    position: absolute;
    z-index: -8;
    margin: 10px auto 0 219px;
  }
  
h1#showsgraphic{
	
    padding-top: 37.8%;
    margin-top: 0px;
}


h1#contactgraphic {
  background-size: 100%;
  padding-top: 37.8%;
  margin-top: 0px;
  opacity: .6;

}
	   
  
  .menu{
    position: relative;
    width: 30%;
    float: right;
    margin-top: 10%;
    margin-bottom:5%;
    z-index: 2;
    overflow: visible;
	background:none;
  }
  
  #homemenu{
	  background: none;
  }
  
  
  video {
    position: absolute;
    width:100%;
    opacity: .6;
    z-index: 1;
	padding-top: 25px;
 
  }
  
  h1#seengraphic{
    background-size: 100%;
    margin-top: -49px;
  }
  
  #logos{
    width: 100%;
    position: absolute;
    margin-top: 275px;
  }

  #text{
    padding-top: 65%;
    width: 85%;
	margin: 0 auto;
  }

  ul#socialfooter{
    width:40%;
  }
  
  h1#bottom-logo {
    padding-top: 23.8%;
  }

  .page{
   padding-top: 45%;
  }
  

}



@media (min-width: 460px){

	#logos{
		margin-top: 236px;
	}

	
}



